@import '../../vars.sass'

.survey
    width: 80%

    &__info-block,
    &__container
        box-sizing: border-box
        width: 100%
        background-color: #fff
        padding: 10px 25px 0 25px

        @media (min-width: $mobile)
            padding: 25px 25px 0 25px

    &__info-block
        font-size: 14px
        margin-bottom: 25px
        padding-bottom: 10px

        @media (min-width: $mobile)
            padding-bottom: 25px
            font-size: 20px
            line-height: 21pt

    &__submit-block
        padding: 20px 0
        display: flex
        justify-content: center

        Button
            padding: 15px 30px !important

    &__block
        padding: 30px 0
        border-bottom: 1px solid #ccc

        &:first-child

            @media (min-width: $mobile)
                padding-top: 0

        &:last-child
            border-bottom: none
    
    &__question
        font-size: 14px

        @media (min-width: $mobile)
            font-size: 18px
    
    &__answers
        width: 100%
        margin-top: 10px

        @media (min-width: $mobile)
            margin-top: 0


        FormControlLabel
            margin-right: 50px